
<div >

  <div class="boxer">
    <h1>博客</h1>
    <ul>
      $posts$
    </ul>
    <a href="/rss.xml" type="application/rss+xml">
      <img src="/images/rss.png" alt="rss feed" style="vertical-align: middle" class="inline-image">
    </a>
    <a href="allposts.html">所有文章...</a>
  </div>

  <div class="boxer">
    <h1>标签</h1>
    <div>
      $tagcloud$
    </div>
  </div>

  <div class="boxer">
    <h1>如何贡献</h1>
    <ol>
      <li>Fork http://github.com/haskellcnorg/haskellcn/</li>
     <li>加入你的文章并提交 pull request</li>
     <li>我们合并后发布。</li>
    </ol>
    <p>或者直接邮件我们。参见<a href="/about.html">这里</a></p>
  </div>

</div>

