<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Haskell - 中文社区</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="Haskell - 中文社区" href="rss.xml" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
  </head>
  <body>
    <div id="main">

      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">主页</a>
          <a class="brand" href="/blog/">博客</a>
        </div>
      </div>

      <div class="container">
        $body$
      </div>

      <div class="footer clear">
        <p><a href="https://github.com/HaskellCNOrg/">Github</a> | <a href="http://weibo.com/haskellcnorg/">微博</a> |  <a href="/">关于</a> | haskellcn.org TO gmail </p>
      </div>

    </div>
  </body>
</html>
