<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haskell - 中文</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="Haskell - 中文社区" href="rss.xml" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/favicon.ico" />

  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
           <a class="brand" href="#">Haskell 中国</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a class="brand" href="/">主页</a></li>
              <li><a class="brand" href="/blog/">博客</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container">
      $body$

      <hr />
      <footer>
        <p>© HaskellCN.org 2012 | <a href="https://github.com/HaskellCNOrg/">Github</a> | <a href="http://weibo.com/haskellcnorg/">微博</a> | <a href="/about.html">关于</a></p>
      </footer>

    </div>

  </body>
</html>
