<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Haskell China Community, Haskell 中文, love haskell, haskell in China" />
        <meta name="keywords" content="Haskell, haskell, haskellcn, haskellcn.org, Haskell 中文, haskell China" />
        <meta name="author" content="Haisheng,Wu" />
        <title>Haskell 中文</title>
        <link rel="stylesheet" type="text/css" href="/css/m.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-31150305-1']);
         _gaq.push(['_setDomainName', 'haskellcn.org']);
         _gaq.push(['_trackPageview']);
         (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
        </script>

    </head>
    <body>
        <nav class="blue-grey darken-3" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">Haskell 中文</a>
                <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>

        $body$

        <footer class="page-footer blue-grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © HaskellCN.org 2012-2015
                </div>
            </div>
        </footer>

    </body>
</html>
