
<div class="hero-unit">
  <h1 style="background: url('/images/haskell_logo.png') no-repeat center left ; padding-left: 65px; background-size: 60px 40px">Haskell 编程语言</h1>
  <p>Haskell是一门纯的、高级函数式编程语言。历经20多年尖端研究的开源产品，倡导快速开发优秀的、精确的、正确的软件。Haskell能很好的和其他编程语言集成，并内建并发性和并行性，调试器、优化器，丰富的类库以及活跃的社区，这使得开发一个有良好扩张性、维护性、高质量软件变得更加容易。</p>
</div>


<div class="row">
  <div class="span4">
    <h2>社区</h2>
    <p>分享、提问、交流</p>
    <p><a class="btn" href="#">On the way... &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>博客</h2>
    <p>更多优秀的原创文章，英文翻译。</p>
    <p><a class="btn" href="#">On the way &raquo;</a></p>
  </div>
  
  <div class="span4">
    <h2>国外优秀资源</h2>
    <p>
      <ul>
        <li><a href="http://www.haskell.org/" title="http://www.haskell.org/" rel="nofollow">Haskell Wiki</a></li>
        <li><a href="http://www.reddit.com/r/haskell/" title="http://www.reddit.com/r/haskell/" rel="nofollow">Reddit</a></li>
        <li><a href="http://stackoverflow.com/questions/tagged?tagnames=haskell" title="http://stackoverflow.com/questions/tagged?tagnames=haskell" rel="nofollow">Stack Overflow</a></li>
      </ul>
    </p>
  </div>
  
</div>
