
<div class="hero-unit">
  <h2>Haskell 编程语言</h2>
  <p>Haskell是一门高级纯函数式编程语言. 开源产品, 20多年尖端研究, 倡导快速开发优秀的、精确的、正确的软件. Haskell能很好的和其他编程语言集成, 内建并发性和并行性, 调试器、优化器, 丰富的类库以及活跃的社区, 使开发一个有良好扩张性、维护性、高质量软件变得更加容易. </p>
</div>


<div class="row">

  <div class="span4">
    <h2>中文资源</h2>
    <p>
      <ul>
        <li><a href="/blog/" title="博客">博客</a></li>
        <li><a href="http://a.haskellcn.org" title="社区">讨论区</a></li>
      </ul>
    </p>
  </div>

  <div class="span4">
    <h2>原文资源</h2>
    <p>
      <ul>
        <li><a href="http://www.haskell.org/" title="http://www.haskell.org/" rel="nofollow">Haskell Wiki</a></li>
        <li><a href="http://www.haskell.org/haskellwiki/Haskell_Communities_and_Activities_Report" title="http://www.haskell.org/haskellwiki/Haskell_Communities_and_Activities_Report" rel="nofollow">Communities and Activities Reports</a></li>
        <li>Haskell on
            <a href="http://www.reddit.com/r/haskell/" title="http://www.reddit.com/r/haskell/" rel="nofollow">Reddit</a>,
            <a href="http://stackoverflow.com/questions/tagged?tagnames=haskell" title="http://stackoverflow.com/questions/tagged?tagnames=haskell" rel="nofollow">Stack Overflow</a>
        </li>
      </ul>
    </p>
  </div>

  <div class="span4">
    <h2>其他</h2>
    <p>
      <ul>
        <li><a href="code.google.com/p/ipaper/" title="code.google.com/p/ipaper/" rel="nofollow">论文</a></li>
        <li><a href='http://hackage.haskell.org/trac/summer-of-code/wiki'>GSoC</a></li>
      </ul>
    </p>
    
  </div>
  

  
</div>
