
<div style="width: 560px;" class="to-left">
  
  <div class="container">
    <img src="./images/haskellcn.org.alpha.png" usemap="#Map" width="670px" height="140px" style=" border-radius:20px; box-shadow: 5px 5px 5px #CCCCCC;">
    </img>
  </div>
  <map name="Map">
    <area shape="rect" coords="420,45,490,100" href="http://www.douban.com/group/topic/28920097/" target="_blank" alt="BLOG">
    </area>
    <area shape="rect" coords="500,45,600,100" href="http://www.douban.com/group/topic/28920097/" target="_blank" alt="FORUM">
    </area>
  </map>
  <p class="showOnHover">准备中。。。</p>

</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript"> 
  $(function() {
   $("area").hover(
        function() { $("p.showOnHover").fadeIn("slow"); }
      , function(){ $("p.showOnHover").fadeOut("slow"); });
  });   
</script>

<!-- 
<div class="sidebar boxer to-right" style="width: 160px">
    $index$
</div>
 -->
