body {
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
  margin: 0px auto 0px auto;
  padding-top: 100px; 
  width: 780px;
}

.navbar-inner .container, .footer {
  margin-left: 5px;
}

.to-right {
    float: right;
}

.to-left {
    float: left;
}

.container h2 {
    border-bottom: 1px solid #C0C0C0;
    line-height: 40px;
    margin-bottom: 10px;
    padding: 0;
}
.container .boxer {
    margin : 10px 5px;
    padding: 10px;
    border: 1px solid #C0C0C0;
    border-radius:10px;
    box-shadow: 5px 5px 5px #CCCCCC;
}

p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
p small {
  font-size: 11px;
  color: #999999;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}


ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

li:target, h2:target, h3:target {
  background-color: #DEF;
}

.clear {
  clear: both;
}

.footnotes li {
  line-height : 12px;
}
.footnotes p {
    line-height : 12px;
    font-size: 11px
}

div.figure img {
  width: 200px;
}


.showOnHover {
    float: right;
    color: red;
    display: none;
    position: absolute;
    top: 30px;
    left: 550px;
    font-size: 20px;
}
