<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Haskell China Community, Haskell 中文, love haskell, haskell in China" />
        <meta name="keywords" content="Haskell, haskell, haskellcn, haskellcn.org, Haskell 中文, haskell China" />
        <meta name="author" content="Haisheng Wu" />
        <title>Haskell 中文</title>
        <link rel="stylesheet" type="text/css" href="/css/m.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
    </head>
    <body>
        <nav class="blue-grey darken-3" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="brand-logo">Haskell 中文</a>
                <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>

        <div id="main">
          $body$
        </div>

        <footer class="page-footer blue-grey darken-3">
            <div class="footer-copyright">
                <div class="container">© HaskellCN.org 2012-present</div>
            </div>
        </footer>

    </body>
</html>
